Django==5.1.6
djangorestframework==3.15.2
django-cors-headers==4.7.0
django-filter==25.1
whitenoise==6.9.0
gunicorn==23.0.0
dj-database-url==2.3.0
psycopg2-binary==2.9.10
celery==5.5.2
django-celery-beat==2.8.1
django-celery-results==2.5.1
pandas==2.2.3
openpyxl==3.1.5
numpy==2.2.3
requests==2.32.3
beautifulsoup4==4.13.3
lxml==5.3.1
selenium==4.28.1
linkedin_scraper==2.11.5
pycountry==24.6.1
python-dotenv==1.0.1
geopy==2.4.1
vercel_blob==0.3.0
